<div class="container">
<h2><%= @cocktail.name %></h2>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
  <li class="list-group-item">
     <div class="d-flex">
      <%= dose.ingredient.name %> - <%= dose.description %>
     </div>
     <%= link_to 'Delete',
              dose_path(dose),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: 'text-danger' %>
  </li>
  <% end %>
</ul>
<%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail) %>
</div>
